@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Ubuntu:wght@700&display=swap');
.container {
margin: 0 auto;
width: 1280px;
height: 500px;
color: white;
font-size: 15px;
font-family: Ubuntu;
text-align: center;
}
.flex {
display: flex;
}
.asideImg {
width: 35%;
height: 448px;
}
.h-2 {
width: 70%;
}
.header {
background-color: #F7AE4A;
height: 20%;
}
.asideText {
background-color: #ED564E;
height: 80%;
}
.footer {
background-color: #B946FA;
width: 65%;
height: 150px;
}
.footerImg {
width: 35%;
}
