@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Ubuntu:wght@700&display=swap');
.container{
  margin: auto;
  width: 1280px;
  height: 500px;
  color: white;
  font-size: 15px;
  font-family: Ubuntu;
  text-align: center;
}
.header{
  float:right;
  background-color: #F7AE4A;
  width: 65%;
  height: 30%;
}
.asideImg{
  float: left;
  width: 35%;
  height: 90%;
}
.asideText{
  float:right;
  background-color: #ED564E;
  width: 65%;
  height: 60%;
}
.footer{
  float: left;
  background-color: #B946FA;
  width: 65%;
  height: 30%;
}
.footerImg{
  float: right;
  width: 35%;
  height: 30%;
}
